@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Lato','メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1 h2 h3 h4 h5 h6 {
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  body {
    width: 1100px;
    margin: 0 auto;
  }
}

.p-header {
  width: 100%;
  height: 12rem;
  background-color: #D81F32;
  text-align: center;
}

.u-recommend-news {
  background-color: #E2E2E2;
}

main.u-flex {
  text-align: center;
  display: initial;
}

@media (min-width: 769px) {
  main.u-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main.u-flex > .u-flex {
  display: initial;
}

@media (min-width: 769px) {
  main.u-flex > .u-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1100px;
    margin: 6rem auto;
  }
}

@media (min-width: 769px) {
  main.u-flex .u-flex--column {
    display: initial;
    width: 72.9rem;
  }
}

footer {
  background-color: #868686;
  text-align: center;
  color: white;
}

.blog-date {
  margin-left: 3.4rem;
  font-size: 1.2rem;
  color: #808080;
}

.c-post-title {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  line-height: 2.7rem;
  overflow: hidden;
}

@media (min-width: 769px) {
  .c-post-title {
    margin: 2rem 0 0 0;
    font-size: 1.8rem;
  }
}

.c-text {
  margin: 1.5rem 0 0 0;
  font-size: 1.4rem;
  line-height: 2.4rem;
  height: 4.5rem;
  overflow: hidden;
  color: #454545;
}

.c-archive-text {
  color: #333333;
  font-size: 1.4rem;
  text-align: initial;
  padding: 2.7rem 0 2rem;
  border-bottom: solid 1px #E2E2E2;
}

.c-category-thumbnail {
  width: 14.6rem;
  height: 8.5rem;
}

.c-category {
  background-color: #D81F32;
  color: #fff;
  width: 8.9rem;
  height: 2.4rem;
  text-align: center;
  line-height: 2.4rem;
  font-size: 1.2rem;
}

.c-post-title {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  line-height: 2.7rem;
  overflow: hidden;
}

@media (min-width: 769px) {
  .c-post-title {
    margin: 2rem 0 0 0;
    font-size: 1.8rem;
  }
}

.c-sub-head {
  text-align: initial;
  font-size: 1.8rem;
  height: 4.3rem;
  position: relative;
  margin-bottom: 3rem;
}

.c-post-list-thumb {
  width: 12rem;
  height: 7rem;
}

.c-genre {
  font-size: 1.4rem;
  color: #D81F32;
}

section.c-card {
  width: 32.2rem;
  height: 8.3rem;
  margin: 0 auto 1.9rem;
  padding: 1rem;
  border: 1px solid #333;
}

@media (min-width: 769px) {
  section.c-card {
    width: 67.8rem;
    height: 14.2rem;
    padding: 2rem;
  }
}

@media (min-width: 769px) {
  .c-card--margin0 {
    margin-left: 0 !important;
  }
}

.c-card:last-child {
  margin-bottom: 4rem;
}

.c-card__img {
  width: 14.6rem;
  height: 8.5rem;
  margin-right: 1.2rem;
}

@media (min-width: 769px) {
  .c-card__img {
    width: 24.5rem;
    height: 14.4rem;
    margin-right: 2rem;
  }
}

.c-card div.c-article__cat-date-wrap--small {
  height: 1.9rem;
}

@media (min-width: 769px) {
  .c-card div.c-article__cat-date-wrap--small {
    height: 2.4rem;
  }
}

.c-card div.c-article__cat-date-wrap--small .c-category {
  width: 7.7rem;
  height: 100%;
  font-size: 1rem;
  line-height: 1.9rem;
}

@media (min-width: 769px) {
  .c-card div.c-article__cat-date-wrap--small .c-category {
    line-height: 2.4rem;
    font-size: 1.2rem;
  }
}

.c-card div.c-article__cat-date-wrap--small .blog-date {
  margin-left: 2.7rem;
  font-size: 1rem;
}

@media (min-width: 769px) {
  .c-card div.c-article__cat-date-wrap--small .blog-date {
    font-size: 1.2rem;
    margin-left: 3.4rem;
  }
}

.c-card .c-post-title {
  margin-top: 1rem;
  height: 6.3rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: initial;
}

@media (min-width: 769px) {
  .c-card .c-post-title {
    font-size: 1.8rem;
    line-height: 2.3rem;
    height: 5rem;
  }
}

.c-card .c-text {
  display: none;
}

@media (min-width: 769px) {
  .c-card .c-text {
    display: block;
    text-align: initial;
    line-height: 1.8rem;
    height: 4rem;
  }
}

.u-blog-repeat {
  margin: 0 auto;
}

@media (min-width: 769px) {
  .u-blog-repeat {
    width: 100%;
  }
}

body {
  position: relative;
}

.p-nav {
  position: absolute;
  right: 100%;
}

@media (min-width: 769px) {
  .p-nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 9.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p-nav li {
    list-style: none;
  }
  .p-nav a {
    color: #333333;
    margin-right: 3.7rem;
    font-size: 1.6rem;
  }
}

.p-recommend-group {
  padding: 4rem 1.5rem;
  background-color: #F4F4F4;
}

@media (min-width: 769px) {
  .p-recommend-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4rem 0;
  }
}

.p-recommend-group .u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  width: 34.9rem;
  height: 8.6rem;
}

@media (min-width: 769px) {
  .p-recommend-group .u-flex {
    display: initial;
    height: auto;
  }
}

@media (min-width: 769px) {
  .p-recommend-group .u-flex:nth-of-type(2) {
    margin: 0 4rem 0;
  }
}

.p-recommend-post__thumb-wrap {
  position: relative;
}

@media (min-width: 769px) {
  .p-recommend-post__thumb-wrap {
    width: 34rem;
    height: 20rem;
  }
}

.p-recommend-post__thumb {
  height: 100%;
  width: 14.8rem;
}

@media (min-width: 769px) {
  .p-recommend-post__thumb {
    width: 34rem;
    height: 20rem;
  }
}

.p-article {
  width: 34.3rem;
  height: 39.3rem;
  margin: 0 auto 2.7rem;
  border: solid 1px #707070;
}

@media (min-width: 769px) {
  .p-article {
    width: 34rem;
    height: 38.1rem;
    margin: 0 0 4.9rem 0;
  }
}

.p-article:nth-of-type(2n) {
  margin-left: 4rem;
}

.c-article__thumb {
  width: 34.3rem;
  height: 20.2rem;
}

@media (min-width: 769px) {
  .c-article__thumb {
    height: 20rem;
    width: 100%;
  }
}

.c-article__desc-wrap {
  padding: 2rem 2.3rem 2rem 2rem;
}

@media (min-width: 769px) {
  .c-article__desc-wrap {
    padding: 2rem;
  }
}

.c-article__desc-wrap .c-post-title {
  margin: 1.2rem 0 0 0;
  width: 30rem;
  height: 5.5rem;
  font-size: 1.8rem;
  line-height: 3.1rem;
  overflow: hidden;
}

.c-article__cat-date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-profile {
  height: 43.5rem;
  width: 34rem;
  margin-bottom: 5.6rem;
}

@media (min-width: 769px) {
  .p-profile {
    margin: 0;
  }
}

.p-profile .c-sub-head {
  text-align: initial;
  font-size: 1.8rem;
  height: 4.3rem;
  position: relative;
  margin-bottom: 3rem;
}

.p-profile .c-text {
  width: 30rem;
  height: 11.6rem;
  margin: 0 auto 3.1rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #333333;
}

@media (min-width: 769px) {
  .p-profile .c-text {
    height: 11.3rem;
  }
}

.c-sub-head:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, #D81F32, #D81F32 2px, white 2px, white 4px);
}

.p-profile-avator {
  margin: 0 0 3rem 0;
  width: 30rem;
  height: 15.9rem;
}

.p-search-form {
  height: 13.3rem;
  width: 34rem;
}

@media (min-width: 769px) {
  .p-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-header__title {
  font-size: 3rem;
  color: #fff;
  padding-top: 2rem;
}

@media (min-width: 769px) {
  .p-header__title {
    padding: 0;
    margin: 4rem 0 0 0;
    font-size: 3.6rem;
  }
}

.p-header__sub {
  color: #fff;
  font-size: 1rem;
  margin-top: 1.2rem;
}

@media (min-width: 769px) {
  .p-header__sub {
    margin: 6rem 0 0 4.1rem;
    font-size: 1.4rem;
  }
}

.p-category-about {
  width: 34.4rem;
  height: 28.378rem;
  margin: 7.22rem auto 4rem;
  border-top: solid 1px #D81F32;
  text-align: initial;
}

@media (min-width: 769px) {
  .p-category-about {
    width: 72rem;
    margin: 0 auto;
    height: 18.3rem;
  }
}

.p-category-about .c-genre {
  margin-top: 3rem;
}

.p-category-about__title {
  font-size: 2rem;
  color: black;
  margin-top: 2rem;
}

@media (min-width: 769px) {
  .p-category-about__title {
    margin-top: 1.5rem;
    font-size: 2.6rem;
  }
}

.p-category-about__title__red {
  color: #D81F32;
  font-size: 2rem;
}

@media (min-width: 769px) {
  .p-category-about__title__red {
    font-size: 2.6rem;
  }
}

.p-category-about__text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #333333;
  margin-top: 2.8rem;
}

@media (min-width: 769px) {
  .p-category-about__text {
    margin-top: 2.6rem;
  }
}

.p-popular-blog .u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.p-popular-blog__title {
  margin-left: 1rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: initial;
  width: 21rem;
  height: 6.5rem;
}

@media (min-width: 769px) {
  .p-popular-blog__title {
    margin: 0 0 0 1rem;
  }
}

.p-new-blog {
  margin-bottom: 2rem;
}

@media (min-width: 769px) {
  .p-new-blog {
    height: 7rem;
  }
}

.p-new-blog .u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-new-blog .c-post-title {
  margin-left: 1rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: initial;
}

@media (min-width: 769px) {
  .p-new-blog .c-post-title {
    margin: 0 0 0 1rem;
  }
}

.p-archive-menu {
  list-style: none;
}

.p-archive-menu a {
  text-decoration: none;
}

.p-footer__title {
  font-size: 2.6rem;
  padding-top: 6rem;
}

@media (min-width: 769px) {
  .p-footer__title {
    font-size: 3.6rem;
  }
}

.p-footer__sub-title {
  padding-top: 1.8rem;
  font-size: 1.2rem;
}

@media (min-width: 769px) {
  .p-footer__sub-title {
    padding-top: 1.5rem;
    font-size: 1.4rem;
  }
}

.p-footer__menu {
  color: white;
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
}

@media (min-width: 769px) {
  .p-footer__menu {
    margin: 0;
  }
}

.p-footer__menu-list {
  margin-top: 3.9rem;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 769px) {
  .p-footer__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-footer__copyright {
  background-color: #464646;
  margin-top: 5.9rem;
  height: 5.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.p-footer__copyright p {
  font-size: 1.2rem;
}

@media (min-width: 769px) {
  li > a:nth-of-type(1) {
    margin-right: 4.1rem;
  }
}

@media (min-width: 769px) {
  li > a:nth-of-type(2) {
    margin-right: 4.4rem;
  }
}

@media (min-width: 769px) {
  li > a:nth-of-type(3) {
    margin-right: 3.2rem;
  }
}

@media (min-width: 769px) {
  li > a:nth-of-type(4) {
    margin-right: 3.2rem;
  }
}

@media (min-width: 769px) {
  li > a:nth-of-type(5) {
    margin-right: 0;
  }
}

.p-post {
  width: 32.207rem;
  margin: 7.2rem auto 8rem;
  padding: 1rem 1.07rem;
  border: solid 1px #707070;
}

@media (min-width: 769px) {
  .p-post {
    width: 64rem;
    padding: 4rem 4.1rem;
  }
}

.p-post .c-category {
  font-size: 1.1rem;
  width: 8.5rem;
}

@media (min-width: 769px) {
  .p-post .c-category {
    font-size: 1.2rem;
    width: 8.9rem;
    height: 2.4rem;
  }
}

.p-post__title {
  margin-top: 2rem;
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-align: initial;
}

@media (min-width: 769px) {
  .p-post__title {
    font-size: 3rem;
    width: 64rem;
    height: 8.7rem;
    line-height: 5.1rem;
  }
}

.p-post .c-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.p-post .c-date__detail {
  font-size: 1.1rem;
  margin-right: 3.8rem;
}

@media (min-width: 769px) {
  .p-post .c-date__detail {
    margin-right: 3.3rem;
  }
}

.p-post__thum {
  width: 100%;
  height: 18.7rem;
  margin-top: 1.9rem;
}

@media (min-width: 769px) {
  .p-post__thum {
    width: 64rem;
    height: 37.5rem;
    margin-top: 2rem;
  }
}

.p-post__text {
  margin-top: 4rem;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: initial;
  width: 32.4rem;
  height: 25.7rem;
  overflow: hidden;
}

@media (min-width: 769px) {
  .p-post__text {
    width: 64rem;
    height: 13.5rem;
    line-height: 3.6rem;
  }
}

.p-post-cont {
  width: 31.6rem;
  margin: 6rem auto 0;
  border: 1px solid #D81F32;
}

@media (min-width: 769px) {
  .p-post-cont {
    width: 57.8rem;
    padding: 3rem 3rem 0 3rem;
    margin-top: 4rem;
  }
}

.p-post-cont ol {
  counter-reset: number;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 2.1rem;
}

.p-post-cont ol:last-of-type {
  margin-top: 3.9rem;
}

@media (min-width: 769px) {
  .p-post-cont ol {
    margin-top: 3.5rem;
  }
}

.p-post-cont > ul > li {
  margin: 2rem 0 0 6.65rem;
}

@media (min-width: 769px) {
  .p-post-cont > ul > li {
    margin: 1.5rem 0 1rem 8.1rem;
  }
}

.p-post-cont > ul > li::marker {
  color: #D81F32;
}

.p-post-cont > ul > li:last-of-type {
  margin-top: 1.1rem;
  margin-bottom: 3rem;
}

.p-post-cont > li {
  list-style: none;
  list-style-position: inside;
}

.p-post-cont ol li:before {
  /* カウンタ（数字になる部分） */
  counter-increment: number;
  /* 任意の名前を付けて！ */
  content: counter(number);
  /* 名前を付けたカウンターを呼び出し */
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #D81F32;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.1rem;
}

.p-post-cont__title {
  font-size: 1.8rem;
  margin: 3rem auto 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #D81F32;
  width: 27.5rem;
}

@media (min-width: 769px) {
  .p-post-cont__title {
    width: 58.1rem;
    margin: 0 auto;
  }
}

.p-post-cont__head {
  width: 23.6rem;
  height: 4rem;
  font-size: 1.6rem;
  margin-left: 5.45rem;
  text-align: initial;
}

@media (min-width: 769px) {
  .p-post-cont__head {
    width: 36.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
  }
}

.p-post-cont__head--h3 {
  font-size: 1.6rem;
  font-weight: lighter;
  text-align: initial;
}

.p-blog-content {
  margin-top: 8rem;
}

@media (min-width: 769px) {
  .p-blog-content {
    margin-top: 7.9rem;
    width: 63.9rem;
  }
}

.p-blog-content__wrap .c-text {
  font-size: 1.6rem;
  width: 32.4rem;
  height: 10.1rem;
  text-align: initial;
}

@media (min-width: 769px) {
  .p-blog-content__wrap .c-text {
    width: 63.9rem;
    height: 12.8rem;
    line-height: 3.6rem;
    margin-top: 3.1rem;
  }
}

.p-blog-content__wrap .c-text .c-link-text {
  text-decoration: none;
  color: #1592E6;
}

.p-blog-content__wrap .c-text .c-text--bold {
  font-weight: bolder;
}

.p-blog-content__wrap:nth-child(1) .c-sub-head {
  width: 16rem;
  height: 2rem;
  font-size: 2rem;
  position: relative;
  padding: 2.98rem 14.7rem 2.97rem  1.7rem;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#D81F32), color-stop(0.64rem, #D81F32), color-stop(0.64rem, #EBEBEB), to(#EBEBEB));
  background: linear-gradient(180deg, #D81F32 0%, #D81F32 0.64rem, #EBEBEB 0.64rem, #EBEBEB 100%);
  margin-bottom: 3rem;
  color: #333333;
}

@media (min-width: 769px) {
  .p-blog-content__wrap:nth-child(1) .c-sub-head {
    width: 62rem;
    font-size: 2.6rem;
    padding: 3.3rem 0 3.9rem 1.9rem;
    margin-bottom: 1.346rem;
  }
}

.p-blog-content__wrap:nth-child(1) .c-sub-head:after {
  position: absolute;
  bottom: -9px;
  left: 2.09rem;
  width: 0;
  height: 0;
  content: '';
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #EBEBEB transparent transparent transparent;
}

.p-blog-content__wrap:nth-child(2) .c-sub-head {
  width: 32.4rem;
  margin-top: 6rem;
  height: 4.098rem;
  border-bottom: 3px #D81F32 solid;
  font-size: 2rem;
}

@media (min-width: 769px) {
  .p-blog-content__wrap:nth-child(2) .c-sub-head {
    width: 64rem;
    height: 4.498rem;
    font-size: 2.2rem;
  }
}

.p-blog-content__wrap:nth-child(2) .c-sub-head:after {
  display: none;
}

.p-blog-content__wrap:nth-child(2) .c-text {
  width: 32.2rem;
  height: 22rem;
}

@media (min-width: 769px) {
  .p-blog-content__wrap:nth-child(2) .c-text {
    margin-top: 3rem;
    width: 63.9rem;
    height: 13.3rem;
  }
}

.p-blog-content__wrap:nth-child(3) .c-sub-head {
  width: 21.8rem;
  height: 2.9rem;
  margin-top: 6rem;
  margin-bottom: 0;
  font-size: 2.2rem;
}

@media (min-width: 769px) {
  .p-blog-content__wrap:nth-child(3) .c-sub-head {
    width: 100%;
  }
}

.p-blog-content__wrap:nth-child(3) .c-sub-head:after {
  display: none;
}

.p-blog-content__wrap:nth-child(3) .c-text {
  width: 32.2rem;
  height: 22rem;
  margin-top: 2.7rem;
}

@media (min-width: 769px) {
  .p-blog-content__wrap:nth-child(3) .c-text {
    width: 63.9rem;
    height: 13.3rem;
  }
}

.p-blog-content__wrap:nth-child(4) .c-sub-head {
  width: 21.8rem;
  height: 2.9rem;
  margin-top: 6rem;
  margin-bottom: 0;
  font-size: 2.2rem;
}

@media (min-width: 769px) {
  .p-blog-content__wrap:nth-child(4) .c-sub-head {
    width: 100%;
  }
}

.p-blog-content__wrap:nth-child(4) .c-sub-head:after {
  display: none;
}

.p-blog-content__wrap:nth-child(4) .c-text {
  width: 32.2rem;
  height: 22rem;
  margin-top: 3rem;
}

@media (min-width: 769px) {
  .p-blog-content__wrap:nth-child(4) .c-text {
    width: 63.9rem;
    height: 13.3rem;
  }
}

.p-blog-content__btn {
  color: white;
  background-color: #01B3A7;
  padding: 2rem 7.8rem;
  margin: 6rem 0 4rem 0;
  border: #01B3A7;
}

@media (min-width: 769px) {
  .p-blog-content__btn {
    margin-bottom: 6rem;
    font-size: 1.6rem;
  }
}

.p-related {
  text-align: initial;
  font-size: 1.8rem;
  width: 7.2rem;
  height: 1.8rem;
  margin-left: 1.17rem;
}

.p-related__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

@media (min-width: 769px) {
  .p-related__section {
    margin-bottom: 2.1rem;
  }
}

.p-related__section .c-post-list-thumb {
  width: 14.6rem;
  height: 8.5rem;
}

.p-related__ttl {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 14.6rem;
  height: 6.5rem;
  margin-top: 1rem;
}

@media (min-width: 769px) {
  .p-related__ttl {
    font-size: 1.4rem;
    overflow: hidden;
    height: 6rem;
  }
}

@media (min-width: 769px) {
  .u-pc-main-cont {
    padding: 6rem 0 12rem 0;
  }
}

.u-blog-loop--wrap {
  padding-bottom: 6rem;
}

.u-article-wrap {
  padding: 4.2rem 1.5rem 8rem 1.1rem;
}

@media (min-width: 769px) {
  .u-article-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 0;
  }
}

.u-blog-category-info {
  padding-left: 1.2rem;
}

.u-img-right-top {
  position: absolute;
  top: 0;
  right: 0;
}

.u-popular-contents {
  margin-bottom: 6rem;
}

.u-article-list-wrap {
  padding: 0 1.7rem 12rem 1.7rem;
}

@media (min-width: 769px) {
  .u-article-list-wrap {
    padding: initial;
  }
}

@media (min-width: 769px) {
  .u-blog-loop--wrap {
    margin: 0;
    width: 34.1rem;
  }
}

@media (min-width: 769px) {
  .u-blog-section:nth-of-type(odd) {
    margin-right: 4rem;
  }
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
