.u-popular-contents {
  margin-bottom: 6rem;
}

.u-article-list-wrap {
  padding: 0 1.7rem 12rem 1.7rem;
  @include breakpoint( pc ) {
    padding: initial;
  }
}

.u-blog-loop--wrap {
  // margin: 0 1.7rem 12rem 1.8rem;
  @include breakpoint( pc ) {
    margin: 0;
    width: 34.1rem;
  }
}

.u-blog-section:nth-of-type(odd) {
  @include breakpoint( pc ) {
    margin-right: 4rem;
  }
}
