.u-blog-repeat {
  padding: 4.2rem 1.5rem 8rem 1.1rem;
}

.u-blog-info {
  padding: 2rem 2.3rem 2rem 2rem;
}

.u-blog {
  margin: 0 1.7rem 12rem 1.8rem;
}

.u-footer-sub-title {
  padding-top: 1.8rem;
}

