.u-pc-main-cont {
  @include breakpoint( pc ) {
    padding: 6rem 0 12rem 0;
  }
}

.u-blog-loop--wrap {
  padding-bottom: 6rem;
}

.u-article-wrap {
  padding: 4.2rem 1.5rem 8rem 1.1rem;
  @include breakpoint( pc ) {
    display: flex;
   flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    // width: 72.277rem;
    // margin-right: 3.82rem;
  }
}


.u-blog-category-info {
  padding-left: 1.2rem;
}