.p-blog-post {
  width: 34.3rem;
  height: 20.2rem+15.1rem+4rem;
  margin: 0 auto 2.7rem;
  border: solid 1px #707070;
  @include breakpoint( pc ) {
    width: 34rem;
    height: 38.1rem;
    margin-bottom: 4.9rem;
  }
}
