.p-profile {
  height: 43.5rem;
  width: 34rem;
  margin-bottom: 5.6rem;
  @include breakpoint( pc ) {
    margin: 0;
  }
  .c-sub-head {
    text-align: initial;
    font-size: 1.8rem;
    height: 4.3rem;
    position: relative;
    margin-bottom: 3rem;
  }
  .c-text {
    width: 30rem;
    height: 11.6rem;
    margin:  0 auto 3.1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $black;
    @include breakpoint( pc ) {
      height: 11.3rem;
    }
  }
}



.c-sub-head:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, $red, $red 2px, white 2px, white 4px);
}

.p-profile-avator {
  margin: 0 0 3rem 0;
  width: 30rem;
  height: 15.9rem;
}

