.u-recommend-news {
  background-color: $whitegray;
}

main.u-flex {
  text-align: center;
  display: initial;
  @include breakpoint( pc ) {
    display: flex;
  }
  >.u-flex {
    display: initial;
    @include breakpoint( pc ) {
      display: flex;
      justify-content: space-between;
      width: 1100px;
      margin: 6rem auto;
    }
  }
  .u-flex--column {
    @include breakpoint( pc ) {
      display: initial;
      width: 72.9rem;
    }
  }
}