.u-recommend-news {
  background-color: $whitegray;
}

main {
  text-align: center;
  >.u-flex {
    display: initial;
    @include breakpoint( pc ) {
      display: flex;
      justify-content: space-between;
      width: 1100px;
      margin: 6rem auto;
    }
  }
}